soap-systemLayer/src/main/resources/api/AssignmentWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.assignment.org/AssignmentWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AssignmentWSDLFile" targetNamespace="http://www.assignment.org/AssignmentWSDLFile/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.assignment.org/AssignmentWSDLFile/">
      <xsd:element name="getOperation">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="userId1" type="xsd:string" />
          	<xsd:element name="userId2" type="xsd:string"></xsd:element>
          	<xsd:element name="userId3" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="examples" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getOperationRequest">
    <wsdl:part element="tns:getOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getOperationResponse">
    <wsdl:part element="tns:getOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="AssignmentWSDLFile">
    <wsdl:operation name="getOperation">
      <wsdl:input message="tns:getOperationRequest"/>
      <wsdl:output message="tns:getOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AssignmentWSDLFileSOAP" type="tns:AssignmentWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getOperation">
      <soap:operation soapAction="http://www.assignment.org/AssignmentWSDLFile/getOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AssignmentWSDLFile">
    <wsdl:port binding="tns:AssignmentWSDLFileSOAP" name="AssignmentWSDLFileSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
